<div class="info-customers__body">
  <ul class="info-customers__list">
    <li class="customers-info__title">Customer Name</li>
    <li class="customers-info__name">Jane Cooper</li>
    <li class="customers-info__name">Floyd Miles</li>
    <li class="customers-info__name">Ronald Richards</li>
    <li class="customers-info__name">Marvin McKinney</li>
    <li class="customers-info__name">Jerome Bell</li>
    <li class="customers-info__name">Kathryn Murphy</li>
    <li class="customers-info__name">Jacob Jones</li>
    <li class="customers-info__name">Kristin Watson</li>
  </ul>

  <ul class="info-customers__list">
    <li class="customers-info__title">Company</li>
    <li class="customers-info__name">Microsoft</li>
    <li class="customers-info__name">Yahoo</li>
    <li class="customers-info__name">Adobe</li>
    <li class="customers-info__name">Tesla</li>
    <li class="customers-info__name">Google</li>
    <li class="customers-info__name">Microsoft</li>
    <li class="customers-info__name">Yahoo</li>
    <li class="customers-info__name">Facebook</li>
  </ul>

  <ul class="info-customers__list">
    <li class="customers-info__title">Phone Number</li>
    <li class="customers-info__name">(225) 555-0118</li>
    <li class="customers-info__name">(205) 555-0100</li>
    <li class="customers-info__name">(302) 555-0107</li>
    <li class="customers-info__name">(252) 555-0126</li>
    <li class="customers-info__name">(629) 555-0129</li>
    <li class="customers-info__name">(406) 555-0120</li>
    <li class="customers-info__name">(208) 555-0112</li>
    <li class="customers-info__name">(704) 555-0127</li>
  </ul>

  <ul class="info-customers__list">
    <li class="customers-info__title">Email</li>
    <li class="customers-info__name">jane@microsoft.com</li>
    <li class="customers-info__name">floyd@yahoo.com</li>
    <li class="customers-info__name">ronald@adobe.com</li>
    <li class="customers-info__name">marvin@tesla.com</li>
    <li class="customers-info__name">jerome@google.com</li>
    <li class="customers-info__name">kathryn@microsoft.com</li>
    <li class="customers-info__name">jacob@yahoo.com</li>
    <li class="customers-info__name">kristin@facebook.com</li>
  </ul>
  <ul class="info-customers__list">
    <li class="customers-info__title">Country</li>
    <li class="customers-info__name">United States</li>
    <li class="customers-info__name">Kiribati</li>
    <li class="customers-info__name">Israel</li>
    <li class="customers-info__name">Iran</li>
    <li class="customers-info__name">Réunion</li>
    <li class="customers-info__name">Curaçao</li>
    <li class="customers-info__name">Brazil</li>
    <li class="customers-info__name">Åland Islands</li>
  </ul>

  <ul class="info-customers__list info-customers__list_btn">
    <li class="customers-info__title">Status</li>
    <li class="customers-info"><button class="customers-info__btn customers-info__btn_active">Active</button>
    </li>
    <li class="customers-info"><button class="customers-info__btn customers-info__btn_inactive">Inctive</button>
    </li>
    <li class="customers-info"><button class="customers-info__btn customers-info__btn_inactive">Inctive</button>
    </li>
    <li class="customers-info"><button class="customers-info__btn customers-info__btn_active">Active</button>
    </li>
    <li class="customers-info"><button class="customers-info__btn customers-info__btn_active">Active</button>
    </li>
    <li class="customers-info"><button class="customers-info__btn customers-info__btn_active">Active</button>
    </li>
    <li class="customers-info"><button class="customers-info__btn customers-info__btn_active">Active</button>
    </li>
    <li class="customers-info"><button class="customers-info__btn customers-info__btn_inactive">Inctive</button>
    </li>
  </ul>
</div>