<div class="info-customers__footer footer">
  <div class="footer__text">Showing data 1 to 8 of 256K entries</div>
  <ul class="footer-btn__list">
    <li class="footer-btn__item"><a class="footer-btn__link" href="#">&#60;</a></li>
    <li class="footer-btn__item"><a class="footer-btn__link" href="#">1</a></li>
    <li class="footer-btn__item"><a class="footer-btn__link" href="#">2</a></li>
    <li class="footer-btn__item"><a class="footer-btn__link" href="#">3</a></li>
    <li class="footer-btn__item"><a class="footer-btn__link" href="#">4</a></li>
    <li class="footer-btn__item"><a class="footer-btn__link footer-btn__link_hidden" href="#">...</a>
    </li>
    <li class="footer-btn__item"><a class="footer-btn__link" href="#">40</a></li>
    <li class="footer-btn__item"><a class="footer-btn__link" href="#">&#62;</a></li>
  </ul>
</div>