.aside {
  padding-top: 2.25rem;
  padding-right: 1.75rem;
  padding-left: 1.75rem;
  padding-bottom: 4.75rem;

  border: 1px solid #000;

  background-color: #FFF;

  &__logo {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    margin-bottom: 4.25rem;

    color: #000;

    font-size: 1.625rem;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.0163rem;
  }
}

.logo__text {
  span {
    color: #838383;

    font-size: 0.625rem;
    font-weight: 500;
    letter-spacing: -0.1px;
    margin-left: 0.25rem;
  }
}

.menu__list {
  display: flex;
  flex-direction: column;
  row-gap: 30px;


}

.menu__item {
  display: flex;
  align-items: center;
  column-gap: 0.875rem;

  padding: 0.6875rem;
  cursor: pointer;

  border-radius: 8px;
  transition: background-color 250ms linear, color 250ms linear;

  .menu__svg_down {
    margin-left: auto;
  }

  &:hover {
    background-color: #5932EA;
    color: #FFF;
  }
}