.aside {
  display: none;

  @media (min-width: 1160px) {
    display: flex;
  }

  flex-direction: column;
  padding-top: 2.25rem;
  padding-right: 1.75rem;
  padding-left: 1.75rem;
  padding-bottom: 4.75rem;

  // border: 1px solid #000;

  background-color: #FFF;

  &__logo {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    margin-bottom: 4.25rem;

    color: #000;

    font-size: 1.625rem;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.0163rem;
  }
}

.logo__text {
  span {
    color: #838383;

    font-size: 0.625rem;
    font-weight: 500;
    letter-spacing: -0.1px;
    margin-left: 0.25rem;
  }
}

.menu__list {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.menu__svg {
  display: inline-block;
  fill: #FFF;
  stroke: #9197B3;
  stroke-width: 1.5;

  &_down {
    margin-left: auto;
  }
}

.menu__link {
  display: flex;
  align-items: center;
  column-gap: 0.875rem;
  color: #9197B3;

  padding: 0.6875rem;

  border-radius: 8px;
  transition: all 200ms linear;

  &:hover {
    background-color: #5932EA;
    color: #FFF;

    .menu__svg {
      fill: #5932EA;
      stroke: #FFF;
    }
  }
}


.aside__footer {
  margin-top: auto;
  display: flex;
  align-items: center;
  column-gap: 12px;
}

.content__title {
  color: #000;
  font-family: Poppins;
  line-height: normal;
  letter-spacing: 0.14px;
}

.content__text {
  color: #757575;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
}